<footer class='footer-container' id='contact'>
	<div class="contact">
		<section class="address-container">
			<h3 class="address__header">Pozostań w kontakcie</h3>
			<h4 class="address__subheader">Sklep stacjonarny:</h4>
			<p class="address__text">CH Fasty</br>
				Email: salonlazienekrea@wp.pl</br>
				Telefon: 85 662 19 76</p>
			<h4 class="address__subheader">Sklep Internetowy:</h4>
			<p class="address__text">Rea, Tutumi, Toolight, Bluegarden</br>
				Telefon: 85 733 77 77</p>
			<h4 class="address__subheader">Biuro:</h4>
			<p class="address__text">Hurtownia</br>
				Email: salonlazienekrea@wp.pl</br>
				Strona: https://www.reahurt.pl/</p>
		</section>
		<section class="contact-container">
			<button class="contact-cta">Napisz do nas</button>
		</section>
	</div>
</footer>
