<header class='header-container' id='home'>
	<div class="arrow-cont">
		<div class="arrow-slide">
		</div>
	</div>
	<div class="header-overlay"></div>
	<nav class='main-navbar'>
		<div class="main-navbar__container">
			<a class='logo' href='#'> <img alt='' class='logo-icon'
					src='/images/logo_podlasiakw.png'>
			</a>
			<div class="hamburger-icon" id="icon">
				<div class="icon-1" id="a"></div>
				<div class="icon-2" id="b"></div>
				<div class="icon-3" id="c"></div>
				<div class="clear"></div>
			</div>
			<ul class='navbar'>
				<li class='menu-item'>
					<button class='menu-link' data-target="#home">Strona główna</button>
				</li>
				<li class='menu-item'>
					<button class='menu-link' data-target="#features">Mocne strony</button>
				</li>
				<li class='menu-item'>
					<button class='menu-link' data-target="#reviews">Opinie</button>
				</li>
				<li class='menu-item'>
					<button class='menu-link' data-target="#about">O nas</button>
				</li>
				<li class='menu-item'>
					<button class='menu-link' data-target="#stores">Nasze sklepy</button>
				</li>
				<li class='menu-item'>
					<button class='menu-link' data-target="#contact">Kontakt</button>
				</li>
			</ul>
		</div>
	</nav>
	<div class='language-flag'>
		<a class='lang' href='/pl'
		><img
				alt='Polska'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/pl.png'
				title='PL'
		/></a>
		<a class='lang' href='/en'>
			<img
					alt='United Kingdom'
					class='language__flag-img language__flag-img--secondary'
					src='/images/flags/en.png'
					title='EN'
			/>
		</a>
		<a class='lang' href='/de'
		><img
				alt='Deutschland'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/de.png'
				title='DE'
		/></a>
		<a class='lang' href='/ru'
		><img
				alt='Россия'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/ru.png'
				title='RU'
		/></a>
		<a class='lang' href='/it'
		><img
				alt='Italia'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/it.png'
				title='IT'
		/></a>
		<a class='lang' href='/fr'
		><img
				alt='France'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/fr.png'
				title='FR'
		/></a>
		<a class='lang' href='/cz'
		><img
				alt='Česká republika'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/cz.png'
				title='CZ'
		/></a>
		<a class='lang' href='/sk'
		><img
				alt='Slovensko'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/sk.png'
				title='SK'
		/></a>
		<a class='lang' href='/ro'
		><img
				alt='România'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/ro.png'
				title='RO'
		/></a>
		<a class='lang' href='/hu'
		><img
				alt='Magyarország'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/hu.png'
				title='HU'
		/></a>
		<a class='lang' href='/bg'
		><img
				alt='България'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/bg.png'
				title='BG'
		/></a>
		<a class='lang' href='/lt'
		><img
				alt='Lietuva'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/lt.png'
				title='LT'
		/></a>
		<a class='lang' href='/ua'
		><img
				alt='Україна'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/uk.png'
				title='UA'/></a
		>
		<a class='lang' href='/es'
		><img
				alt='Español'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/es.png'
				title='ES'/></a
		>
		<a class='lang' href='/nl'
		><img
				alt='Nederlands'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/nl.png'
				title='NL'/></a
		>
		<a class='lang' href='/lv'
		><img
				alt='Latviski'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/lv.png'
				title='LV'/></a
		>
		<a class='lang' href='/ee'
		><img
				alt='Eesti'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/ee.png'
				title='EE'/></a
		>
		<a class='lang' href='/hr'
		><img
				alt='Hrvatski'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/hr.png'
				title='HR'
		/></a>
		<a class='lang' href='/me'
		><img
				alt='Crne Gore'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/me.png'
				title='ME'
		/></a>
		<a class='lang' href='/rs'
		><img
				alt='Srpski'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/rs.png'
				title='RS'
		/></a>
		<a class='lang' href='/at'
		><img
				alt='Österreich'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/at.png'
				title='AT'
		/></a>
		<a class='lang' href='/be'
		><img
				alt='Belgique'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/be.png'
				title='BE'
		/></a>
		<a class='lang' href='/ch'
		><img
				alt='Schweiz'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/ch.png'
				title='CH'
		/></a>
		<a class='lang' href='/si'
		><img
				alt='Slovenija'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/si.png'
				title='SI'
		/></a>

	</div>
	<div class="language-title">
		<span class="language-title__tile">PL</span>
	</div>

</header>

