<head>
	<meta charset='utf-8'>
	<title>{{title}}</title>
	<meta content='' name='description'>
	<meta content='width=device-width, initial-scale=1' name='viewport'>

	<meta content='' property='og:title'>
	<meta content='' property='og:type'>
	<meta content='' property='og:url'>
	<meta content='' property='og:image'>

	<link rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
	<link href='/stylesheets/style.css' rel='stylesheet'>

</head>

