<header class='header-container' id='home'>
	<div class="header-overlay"></div>
	<nav class='main-navbar'>
		<div class="main-navbar__container">
			<a class='logo' href='#'> <img alt='' class='logo-icon'
					src='/images/logo_podlasiakw.png'>
			</a>
			<div class="hamburger-icon" id="icon">
				<div class="icon-1" id="a"></div>
				<div class="icon-2" id="b"></div>
				<div class="icon-3" id="c"></div>
				<div class="clear"></div>
			</div>
			<ul class='navbar'>
				<li class='menu-item'><a class='menu-link' href='#home'>Strona główna</a></li>
				<li class='menu-item'><a class='menu-link' href='#features'>Mocne strony</a></li>
				<li class='menu-item'><a class='menu-link' href='#reviews'>Opinie</a></li>
				<li class='menu-item'><a class='menu-link' href='#about'>O nas</a></li>
				<li class='menu-item'><a class='menu-link' href='#stores'>Nasze sklepy</a></li>
				<li class='menu-item'><a class='menu-link' href='#contact'>Kontakt</a></li>
			</ul>
		</div>
	</nav>
	<div class='language-flag'>
		<a class='lang' href='http://podlasiak.com.pl/'
		><img
				alt='Polska'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/pl.png'
				title='PL'
		/></a>
		<a class='lang' href='http://en.podlasiak.com.pl/'>
			<img
					alt='Anglia'
					class='language__flag-img language__flag-img--secondary'
					src='/images/flags/en.png'
					title='EN'
			/>
		</a>

		<a class='lang' href='http://de.podlasiak.com.pl/'
		><img
				alt='Niemcy'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/de.png'
				title='DE'
		/></a>
		<a class='lang' href='http://ru.podlasiak.com.pl/'
		><img
				alt='Rosja'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/ru.png'
				title='RU'
		/></a>
		<a class='lang' href='http://it.podlasiak.com.pl/'
		><img
				alt='Włochy'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/it.png'
				title='IT'
		/></a>
		<a class='lang' href='http://fr.podlasiak.com.pl/'
		><img
				alt='Francja'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/fr.png'
				title='FR'
		/></a>
		<a class='lang' href='http://cz.podlasiak.com.pl/'
		><img
				alt='Czechy'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/cz.png'
				title='CZ'
		/></a>
		<a class='lang' href='http://sk.podlasiak.com.pl/'
		><img
				alt='Słowacja'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/sk.png'
				title='SK'
		/></a>
		<a class='lang' href='http://ro.podlasiak.com.pl/'
		><img
				alt='Rumunia'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/ro.png'
				title='RO'
		/></a>
		<a class='lang' href='http://hu.podlasiak.com.pl/'
		><img
				alt='Węgry'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/hu.png'
				title='HU'
		/></a>
		<a class='lang' href='http://bg.podlasiak.com.pl/'
		><img
				alt='Bułgaria'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/bg.png'
				title='BG'
		/></a>
		<a class='lang' href='http://lt.podlasiak.com.pl/'
		><img
				alt='Litwa'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/lt.png'
				title='LT'
		/></a>
		<a class='lang' href='http://ua.podlasiak.com.pl/'
		><img
				alt='Ukraina'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/uk.png'
				title='UA'/></a
		><a class='lang' href='http://es.podlasiak.com.pl/'
	><img
			alt='Hiszpania'
			class='language__flag-img language__flag-img--secondary'
			src='/images/flags/es.png'
			title='ES'/></a
	><a class='lang' href='http://nl.podlasiak.com.pl/'
	><img
			alt='Niderlandia'
			class='language__flag-img language__flag-img--secondary'
			src='/images/flags/nl.png'
			title='NL'/></a
	><a class='lang' href='http://lv.podlasiak.com.pl/'
	><img
			alt='Łotwa'
			class='language__flag-img language__flag-img--secondary'
			src='/images/flags/lv.png'
			title='LV'/></a
	><a class='lang' href='http://ee.podlasiak.com.pl/'
	><img
			alt='Estonia'
			class='language__flag-img language__flag-img--secondary'
			src='/images/flags/ee.png'
			title='EE'/></a
	><a class='lang' href='http://hr.podlasiak.com.pl/'
	><img
			alt='Horwacja'
			class='language__flag-img language__flag-img--secondary'
			src='/images/flags/hr.png'
			title='HR'
	/></a>
		<a class='lang' href='http://me.podlasiak.com.pl/'
		><img
				alt='ME'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/me.png'
				title='ME'
		/></a>
		<a class='lang' href='http://rs.podlasiak.com.pl/'
		><img
				alt='RS'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/rs.png'
				title='RS'
		/></a>
		<a class='lang' href='http://at.podlasiak.com.pl/'
		><img
				alt='AT'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/at.png'
				title='AT'
		/></a>
		<a class='lang' href='http://be.podlasiak.com.pl/'
		><img
				alt='BE'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/be.png'
				title='BE'
		/></a>
		<a class='lang' href='http://be.podlasiak.com.pl/'
		><img
				alt='CH'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/ch.png'
				title='CH'
		/></a>
		<a class='lang' href='http://be.podlasiak.com.pl/'
		><img
				alt='SI'
				class='language__flag-img language__flag-img--secondary'
				src='/images/flags/si.png'
				title='SI'
		/></a>
	</div>
	<div class="arrow-cont">
		<div class="arrow-slide">
		</div>
	</div>
</header>
