<head>
	<meta charset='utf-8'>
	<title>{{title}}</title>
	<meta content='' name='description'>
	<meta content='width=device-width, initial-scale=1' name='viewport'>

	<meta content='' property='og:title'>
	<meta content='' property='og:type'>
	<meta content='' property='og:url'>
	<meta content='' property='og:image'>

	<!--  <link rel="manifest" href="site.webmanifest">-->
	<link href='icon.png' rel='apple-touch-icon'>
	<!-- Place favicon.ico in the root directory -->

	<link href='/stylesheets/style.css' rel='stylesheet'>

</head>
