<!doctype html>
<html class='no-js' lang='{{lang}}'>
{{>head}}
<body>
<div class="onload-logo-container">
	<img id="onload-logo" src="/images/logos/podlasiak.svg" type="image/svg+xml">
</div>
<div class="wrapper wrapper--active" style="display: none;">
	{{>header}}
	{{{body}}}
	{{>footer}}
</div>
<script type="module" src='/javascripts/index.js'></script>
</body>
</html>



