<p>Witaj, {{userName}}</p>
<br>
<p>Dziękujemy za Twoją wiadomość, postaramy się na nią odpowiedzieć najszybciej jak to możliwe.</p>
<br>
<hr>
<p>
	<strong>Temat:</strong> {{subject}}<br>
	<strong>Treść wiadomości:</strong> {{text}}
</p>
<hr>
<p>Z poważaniem,</p>
<p>Podlasiak</p>
<a href="tel:+48856621976">+48 85 662 19 76</a><br>
<a href="mailto:salonlazienekrea@wp.pl">salonlazienekrea@wp.pl</a>

