<div class="error-container">
	<h3 class="error-subheading">404</h3>
	<h1 class="error-heading">Site you looking for doesn't exist</h1>
	<a class="error-link" href="/">Go back to main page</a>
</div>
