<main class='main-container'>
	<section class='features-container' id='features'>
		<h2 class='about about--other'>Kupuj u najlepszego sprzedawcy</h2>
		<div class='features-cont'>
			<div class='feature-box'>
				<img src="/images/zasieg.svg" alt="" class="feature__img">
				<h4 class='feature__name'>Europejski zasięg</h4>
				<p class='feature__desc'>
					Sprzedajemy i wysyłamy nasze produkty do wiekszości krajów Europy.
				</p>
			</div>
			<div class='feature-box'>

				<img src="/images/szybka.svg" alt="" class="feature__img">
				<h4 class='feature__name'>Szybka wysyłka</h4>
				<p class='feature__desc'>
					Wysyłamy towar w ciągu 24h dlatego możemy zagwarantować dostawę na następny
					dzień.
				</p>
			</div>
			<div class='feature-box'>

				<img src="/images/returns.svg" alt="" class="feature__img">
				<h4 class='feature__name'>Zwroty zamówień</h4>
				<p class='feature__desc'>
					Nieużywany produkt możesz zwrócić w ciągu 14 dni od daty odbioru.
				</p>
			</div>
		</div>
	</section>
	<section class='reviews-container' id='reviews'>
		<h3 class='about about--other'>Posłuchaj naszych klientów</h3>
		<div class='reviews'>
			<div class='reviews-box'>
				<div class='review'>
					<div class='comment'>
						<p class='comment__text'>
							<strong class='comment__text comment__text--quot'>„</strong>Jestem
							bardzo zadowolona.
							Wszytsko odbyło się szybko i sprawnie<strong
								class='comment__text comment__text--quot'>"</strong>
						</p>
					</div>
				</div>
				<div class='client'>
					<p class='client__name'>Monika</p>
					<img alt='Logo' class='client__logo'
							src='http://podlasiak.com.pl/imgs/opinieo.png'>
				</div>
			</div>
			<div class='reviews-box'>
				<div class='review'>
					<div class='comment'>
						<p class='comment__text'>
							<strong class='comment__text comment__text--quot'>„</strong>Transakcja
							przebiegła
							pomyślnie. Towar dostarczony bardzo szybko. Polecam.<strong
								class='comment__text comment__text--quot'>"</strong>
						</p>
					</div>
				</div>
				<div class='client'>
					<p class='client__name'>Magda</p>
					<img alt='Logo' class='client__logo'
							src='http://podlasiak.com.pl/imgs/opinieo.png'>
				</div>
			</div>
			<div class='reviews-box'>
				<div class='review'>
					<div class='comment'>
						<p class='comment__text'>
							<strong class='comment__text comment__text--quot'>„</strong>Wszystko bez
							najmniejszych
							zastrzeżeń. Szybka pomoc przy zakupach i ekspresowa przesyłka.<strong
								class='comment__text comment__text--quot'>"</strong>
						</p>
					</div>
				</div>
				<div class='client'>
					<p class='client__name'>Dorota</p>
					<img alt='Logo' class='client__logo'
							src='http://podlasiak.com.pl/imgs/opinieo.png'>
				</div>
			</div>
		</div>
		<div class='grade-box'>
			<div class='grade'>
				<div class='left-side'>
					<img alt='Logo' class='grade__logo'
							src='http://podlasiak.com.pl/imgs/opinieo.png'>
					<div class='grade__text'>
						<div class='grade__box'>
							<h3 class='text-grade'><strong>4.8</strong> / 5</h3>
							<div class='percent'>
								<img alt='Thumb' class='percent__hand'
										src='http://podlasiak.com.pl/imgs/thumb_positive.png'>
								<p class='percent__text'>97%</p>
							</div>
							<p class='desc-grade'>Klientów poleca naszą firmę</p>
						</div>
						<img alt='Quality' class='quality'
								src='http://podlasiak.com.pl/imgs/opineo-quality.png'>
					</div>
				</div>
				<div class='review-text'>
					<p class='review-text__top'>
						Bierzemy udział w programie Słucham swoich klientów niezależnego serwisu
						opinii
						Opineo.pl, dzięki czemu kupujący mają pewność, że <strong>czytamy i bierzemy
						pod uwagę
						każdą
						opinię,</strong> również krytyczną.
					</p>
					<p class='review-text__bottom'>Nasze sklepy podlegają stałemu <strong>monitoringowi
						jakości
						usług.</strong>
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class='about-container' id='about'>
		<div class='text-wrap'>
			<div class='text-cont'>
				<h3 class='about about--other'>O nas</h3>
				<p class='content content--primary'>
					Podlasiak Sp. z o.o. to międzynarodowa firma założona w 1994 roku. Nasze ponad
					25 letnie
					doświadczenie w handlu pozwala dostarczać naszym klientom produkty oryginalne
					oraz
					wysokogatunkowe, dbając przy tym o najwyższą jakość świadczonych usług.
					Specjalizujemy się
					handlem w wielu sektorach biznesu. Jesteśmy właścicielem takich marek jak Rea,
					Tutumi,
					Toolight i Bluegarden. Jako jedni z pierwszych stworzyliśmy sklepy internetowe o
					zasięgu
					ogólnoeuropejskim.
				</p>
				<p class='content content--secondary'>
					Dzięki innowacyjnym metodom działania, i doskonałej organizacji pracy, przez
					wiele lat
					dostarczamy naszym klientom doskonałe produkty, dbając przy tym o najwyższą
					jakość usług.
					Jesteśmy przedsiębiorstwem dynamicznym i stale rozwijającym się, dlatego nie
					stawiamy
					sobie
					żadnych ograniczeń, tylko śmiało i pewnie, razem z naszymi klientami podążamy
					naprzód.
				</p>
			</div>
		</div>
	</section>
	<section class='stores-container' id='stores'>

		<h3 class='about about--other'>Nasze sklepy</h3>
		<div class='store-wrap'>
			<div class='store-box'>
				<div class='logo-container'>
					<img alt='Logo Rea' class="store-logo" src='/images/rea.svg'>
				</div>
				<div class='flag-box'>
					<a class='flag flag-pl' href='https://lazienka-rea.com.pl/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Polska' class='flag-img'
								src='http://podlasiak.com.pl/imgs/pl.png'>
						<span class='flag-name'>Polska</span>
					</a>
					<a class='flag flag-en' href='https://bathroom-rea.com/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Anglia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/en.png'>
						<span class='flag-name'>United Kingdom</span>
					</a>
					<a class='flag flag-de' href='https://badezimmer-rea.de/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niemcy' class='flag-img'
								src='http://podlasiak.com.pl/imgs/de.png'>
						<span class='flag-name'>Deutschland</span>
					</a>
					<a class='flag flag-ru' href='https://santechnika-rea.ru/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rosja' class='flag-img' src='http://podlasiak.com.pl/imgs/ru.png'>
						<span class='flag-name'>Россия</span>
					</a>
					<a class='flag flag-it' href='https://bagno-rea.it/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Włochy' class='flag-img'
								src='http://podlasiak.com.pl/imgs/it.png'>
						<span class='flag-name'>Italia</span>
					</a>
					<a class='flag flag-fr' href='https://salledebain-rea.fr/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Francja' class='flag-img'
								src='http://podlasiak.com.pl/imgs/fr.png'>
						<span class='flag-name'>France</span>
					</a>
					<a class='flag flag-cz' href='https://koupelna-rea.cz/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Czechy' class='flag-img'
								src='http://podlasiak.com.pl/imgs/cz.png'>
						<span class='flag-name'>Česká republika</span>
					</a>
					<a class='flag flag-sk' href='https://kupelna-rea.sk/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowacja' class='flag-img'
								src='http://podlasiak.com.pl/imgs/sk.png'>
						<span class='flag-name'>Slovensko</span>
					</a>
					<a class='flag flag-ro' href='https://baie-rea.ro/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rumunia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/ro.png'>
						<span class='flag-name'>România</span>
					</a>
					<a class='flag flag-hu' href='https://furdoszoba-rea.hu/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Węgry' class='flag-img' src='http://podlasiak.com.pl/imgs/hu.png'>
						<span class='flag-name'>Magyarország</span>
					</a>
					<a class='flag flag-bg' href='https://bania-rea.bg/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Bułgaria' class='flag-img'
								src='http://podlasiak.com.pl/imgs/bg.png'>
						<span class='flag-name'>България</span>
					</a>
					<a class='flag flag-lt' href='https://vonioskambarys-rea.lt/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Litwa' class='flag-img' src='http://podlasiak.com.pl/imgs/lt.png'>
						<span class='flag-name'>Lietuva</span>
					</a>
					<a class='flag flag-uk' href='https://rea.ua/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Ukraina' class='flag-img'
								src='http://podlasiak.com.pl/imgs/uk.png'>
						<span class='flag-name'>Україна</span> </a><a class='flag flag-es'
						href='https://bano-rea.es/' rel='noopener noreferrer' target='_blank'>
					<img alt='Hiszpania' class='flag-img' src='http://podlasiak.com.pl/imgs/es.png'>
					<span class='flag-name'>Español</span>
				</a>
					<a class='flag flag-nl' href='https://badkamer-rea.nl/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niderlandia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/nl.png'>
						<span class='flag-name'>Nederlands</span>
					</a>
					<a class='flag flag-lv' href='https://vannasistaba-rea.lv/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Łotwa' class='flag-img' src='http://podlasiak.com.pl/imgs/lv.png'>
						<span class='flag-name'>Latviski</span>
					</a>
					<a class='flag flag-ee' href='https://vannituba-rea.ee/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Estonia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/ee.png'>
						<span class='flag-name'>Eesti</span>
					</a>
					<a class='flag flag-hr' href='https://kupaona-rea.hr/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Chorwacja' class='flag-img'
								src='http://podlasiak.com.pl/imgs/hr.png'>
						<span class='flag-name'>Hrvatski</span>
					</a><a class='flag flag-me' href='https://kupaona-rea.me/'
						rel='noopener noreferrer'
						target='_blank'>
					<img alt='Czarnogóra' class='flag-img'
							src='http://podlasiak.com.pl/imgs/me.png'>
					<span class='flag-name'>Crne Gore</span>
				</a>
					<a class='flag flag-rs' href='https://kupaona-rea.rs/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Serbia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/rs.png'>
						<span class='flag-name'>Srpski</span>
					</a>
					<a class='flag flag-at' href='https://badezimmer-rea.at/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Austria' class='flag-img'
								src='http://podlasiak.com.pl/imgs/at.png'>
						<span class='flag-name'>Österreich</span>
					</a>
					<a class='flag flag-be' href='https://salledebain-rea.be/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Belgia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/be.png'>
						<span class='flag-name'>Belgique</span>
					</a>
					<a class='flag flag-si' href='https://kopalnica-rea.si/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowenia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/si.png'>
						<span class='flag-name'>Slovenija</span>
					</a>
					<a class='flag flag-ch' href='https://lazienka-rea.com.pl/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Szwajcaria' class='flag-img'
								src='http://podlasiak.com.pl/imgs/ch.png'>
						<span class='flag-name'>Schweiz</span>
					</a>
				</div>
			</div>
			<div class='store-box'>
				<div class='logo-container'>
					<img alt='Logo Tutumi' class="store-logo" src='/images/tutumi.svg'>
				</div>
				<div class='flag-box'>
					<a class='flag flag-pl' href='https://tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Polska' class='flag-img'
								src='http://podlasiak.com.pl/imgs/pl.png'>
						<span class='flag-name'>Polska</span>
					</a>
					<a class='flag flag-en' href='https://en.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Anglia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/en.png'>
						<span class='flag-name'>United Kingdom</span>
					</a>
					<a class='flag flag-de' href='https://de.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niemcy' class='flag-img'
								src='http://podlasiak.com.pl/imgs/de.png'>
						<span class='flag-name'>Deutschland</span>
					</a>
					<a class='flag flag-ru' href='https://ru.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rosja' class='flag-img' src='http://podlasiak.com.pl/imgs/ru.png'>
						<span class='flag-name'>Россия</span>
					</a>
					<a class='flag flag-it' href='https://it.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Włochy' class='flag-img'
								src='http://podlasiak.com.pl/imgs/it.png'>
						<span class='flag-name'>Italia</span>
					</a>
					<a class='flag flag-fr' href='https://fr.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Francja' class='flag-img'
								src='http://podlasiak.com.pl/imgs/fr.png'>
						<span class='flag-name'>France</span>
					</a>
					<a class='flag flag-cz' href='https://cz.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Czechy' class='flag-img'
								src='http://podlasiak.com.pl/imgs/cz.png'>
						<span class='flag-name'>Česká republika</span>
					</a>
					<a class='flag flag-sk' href='https://sk.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowacja' class='flag-img'
								src='http://podlasiak.com.pl/imgs/sk.png'>
						<span class='flag-name'>Slovensko</span>
					</a>
					<a class='flag flag-ro' href='https://ro.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rumunia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/ro.png'>
						<span class='flag-name'>România</span>
					</a>
					<a class='flag flag-hu' href='https://hu.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Węgry' class='flag-img' src='http://podlasiak.com.pl/imgs/hu.png'>
						<span class='flag-name'>Magyarország</span>
					</a>
					<a class='flag flag-bg' href='https://bg.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Bułgaria' class='flag-img'
								src='http://podlasiak.com.pl/imgs/bg.png'>
						<span class='flag-name'>България</span>
					</a>
					<a class='flag flag-lt' href='https://lt.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Litwa' class='flag-img' src='http://podlasiak.com.pl/imgs/lt.png'>
						<span class='flag-name'>Lietuva</span>
					</a>
					<a class='flag flag-uk' href='https://ua.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Ukraina' class='flag-img'
								src='http://podlasiak.com.pl/imgs/uk.png'>
						<span class='flag-name'>Україна</span> </a><a class='flag flag-es'
						href='https://es.tutumi.pl/' rel='noopener noreferrer' target='_blank'>
					<img alt='Hiszpania' class='flag-img' src='http://podlasiak.com.pl/imgs/es.png'>
					<span class='flag-name'>Español</span>
				</a>
					<a class='flag flag-nl' href='https://nl.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niderlandia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/nl.png'>
						<span class='flag-name'>Nederlands</span>
					</a>
					<a class='flag flag-lv' href='https://lv.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Łotwa' class='flag-img' src='http://podlasiak.com.pl/imgs/lv.png'>
						<span class='flag-name'>Latviski</span>
					</a>
					<a class='flag flag-ee' href='https://ee.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Estonia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/ee.png'>
						<span class='flag-name'>Eesti</span>
					</a>
					<a class='flag flag-hr' href='https://hr.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Chorwacja' class='flag-img'
								src='http://podlasiak.com.pl/imgs/hr.png'>
						<span class='flag-name'>Hrvatski</span>
					</a><a class='flag flag-me' href='https://me.tutumi.pl/'
						rel='noopener noreferrer'
						target='_blank'>
					<img alt='Czarnogóra' class='flag-img'
							src='http://podlasiak.com.pl/imgs/me.png'>
					<span class='flag-name'>Crne Gore</span>
				</a>
					<a class='flag flag-rs' href='https://rs.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Serbia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/rs.png'>
						<span class='flag-name'>Srpski</span>
					</a>
					<a class='flag flag-at' href='https://at.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Austria' class='flag-img'
								src='http://podlasiak.com.pl/imgs/at.png'>
						<span class='flag-name'>Österreich</span>
					</a>
					<a class='flag flag-be' href='https://be.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Belgia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/be.png'>
						<span class='flag-name'>Belgique</span>
					</a>
					<a class='flag flag-si' href='https://si.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowenia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/si.png'>
						<span class='flag-name'>Slovenija</span>
					</a>
					<a class='flag flag-ch' href='https://ch.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Szwajcaria' class='flag-img'
								src='http://podlasiak.com.pl/imgs/ch.png'>
						<span class='flag-name'>Schweiz</span>
					</a>
				</div>
			</div>
			<div class='store-box'>
				<div class='logo-container'>
					<img alt='Logo Toolight' class="store-logo" src='/images/toolight.svg'></div>
				<div class='flag-box'>
					<a class='flag flag-pl' href='https://tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Polska' class='flag-img'
								src='http://podlasiak.com.pl/imgs/pl.png'>
						<span class='flag-name'>Polska</span>
					</a>
					<a class='flag flag-en' href='https://en.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Anglia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/en.png'>
						<span class='flag-name'>United Kingdom</span>
					</a>
					<a class='flag flag-de' href='https://de.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niemcy' class='flag-img'
								src='http://podlasiak.com.pl/imgs/de.png'>
						<span class='flag-name'>Deutschland</span>
					</a>
					<a class='flag flag-ru' href='https://ru.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rosja' class='flag-img' src='http://podlasiak.com.pl/imgs/ru.png'>
						<span class='flag-name'>Россия</span>
					</a>
					<a class='flag flag-it' href='https://it.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Włochy' class='flag-img'
								src='http://podlasiak.com.pl/imgs/it.png'>
						<span class='flag-name'>Italia</span>
					</a>
					<a class='flag flag-fr' href='https://fr.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Francja' class='flag-img'
								src='http://podlasiak.com.pl/imgs/fr.png'>
						<span class='flag-name'>France</span>
					</a>
					<a class='flag flag-cz' href='https://cz.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Czechy' class='flag-img'
								src='http://podlasiak.com.pl/imgs/cz.png'>
						<span class='flag-name'>Česká republika</span>
					</a>
					<a class='flag flag-sk' href='https://sk.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowacja' class='flag-img'
								src='http://podlasiak.com.pl/imgs/sk.png'>
						<span class='flag-name'>Slovensko</span>
					</a>
					<a class='flag flag-ro' href='https://ro.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rumunia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/ro.png'>
						<span class='flag-name'>România</span>
					</a>
					<a class='flag flag-hu' href='https://hu.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Węgry' class='flag-img' src='http://podlasiak.com.pl/imgs/hu.png'>
						<span class='flag-name'>Magyarország</span>
					</a>
					<a class='flag flag-bg' href='https://bg.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Bułgaria' class='flag-img'
								src='http://podlasiak.com.pl/imgs/bg.png'>
						<span class='flag-name'>България</span>
					</a>
					<a class='flag flag-lt' href='https://lt.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Litwa' class='flag-img' src='http://podlasiak.com.pl/imgs/lt.png'>
						<span class='flag-name'>Lietuva</span>
					</a>
					<a class='flag flag-uk' href='https://ua.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Ukraina' class='flag-img'
								src='http://podlasiak.com.pl/imgs/uk.png'>
						<span class='flag-name'>Україна</span>
					</a>
					<a class='flag flag-es' href='https://es.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Hiszpania' class='flag-img'
								src='http://podlasiak.com.pl/imgs/es.png'>
						<span class='flag-name'>Español</span>
					</a>
					<a class='flag flag-nl' href='https://nl.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niderlandia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/nl.png'>
						<span class='flag-name'>Nederlands</span>
					</a>
					<a class='flag flag-lv' href='https://lv.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Łotwa' class='flag-img' src='http://podlasiak.com.pl/imgs/lv.png'>
						<span class='flag-name'>Latviski</span>
					</a>
					<a class='flag flag-ee' href='https://ee.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Estonia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/ee.png'>
						<span class='flag-name'>Eesti</span>
					</a>
					<a class='flag flag-hr' href='https://hr.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Chorwacja' class='flag-img'
								src='http://podlasiak.com.pl/imgs/hr.png'>
						<span class='flag-name'>Hrvatski</span>
					</a>
					<a class='flag flag-me' href='https://me.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Czarnogóra' class='flag-img'
								src='http://podlasiak.com.pl/imgs/me.png'>
						<span class='flag-name'>Crne Gore</span>
					</a>
					<a class='flag flag-rs' href='https://rs.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Serbia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/rs.png'>
						<span class='flag-name'>Srpski</span>
					</a>
					<a class='flag flag-at' href='https://at.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Austria' class='flag-img'
								src='http://podlasiak.com.pl/imgs/at.png'>
						<span class='flag-name'>Österreich</span>
					</a>
					<a class='flag flag-be' href='https://be.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Belgia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/be.png'>
						<span class='flag-name'>Belgique</span>
					</a>
					<a class='flag flag-si' href='https://si.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowenia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/si.png'>
						<span class='flag-name'>Slovenija</span>
					</a>
					<a class='flag flag-ch' href='https://ch.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Szwajcaria' class='flag-img'
								src='http://podlasiak.com.pl/imgs/ch.png'>
						<span class='flag-name'>Schweiz</span>
					</a>
				</div>
			</div>
			<div class='store-box'>
				<div class='logo-container'>
					<img alt='Logo Bluegarden' class="store-logo" src='/images/bluegarden.svg'>
				</div>
				<div class='flag-box'>
					<a class='flag flag-pl' href='https://tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Polska' class='flag-img'
								src='http://podlasiak.com.pl/imgs/pl.png'>
						<span class='flag-name'>Polska</span>
					</a>
					<a class='flag flag-en' href='https://en.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Anglia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/en.png'>
						<span class='flag-name'>United Kingdom</span>
					</a>
					<a class='flag flag-de' href='https://de.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niemcy' class='flag-img'
								src='http://podlasiak.com.pl/imgs/de.png'>
						<span class='flag-name'>Deutschland</span>
					</a>
					<a class='flag flag-ru' href='https://ru.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rosja' class='flag-img' src='http://podlasiak.com.pl/imgs/ru.png'>
						<span class='flag-name'>Россия</span>
					</a>
					<a class='flag flag-it' href='https://it.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Włochy' class='flag-img'
								src='http://podlasiak.com.pl/imgs/it.png'>
						<span class='flag-name'>Italia</span>
					</a>
					<a class='flag flag-fr' href='https://fr.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Francja' class='flag-img'
								src='http://podlasiak.com.pl/imgs/fr.png'>
						<span class='flag-name'>France</span>
					</a>
					<a class='flag flag-cz' href='https://cz.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Czechy' class='flag-img'
								src='http://podlasiak.com.pl/imgs/cz.png'>
						<span class='flag-name'>Česká republika</span>
					</a>
					<a class='flag flag-sk' href='https://sk.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowacja' class='flag-img'
								src='http://podlasiak.com.pl/imgs/sk.png'>
						<span class='flag-name'>Slovensko</span>
					</a>
					<a class='flag flag-ro' href='https://ro.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rumunia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/ro.png'>
						<span class='flag-name'>România</span>
					</a>
					<a class='flag flag-hu' href='https://hu.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Węgry' class='flag-img' src='http://podlasiak.com.pl/imgs/hu.png'>
						<span class='flag-name'>Magyarország</span>
					</a>
					<a class='flag flag-bg' href='https://bg.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Bułgaria' class='flag-img'
								src='http://podlasiak.com.pl/imgs/bg.png'>
						<span class='flag-name'>България</span>
					</a>
					<a class='flag flag-lt' href='https://lt.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Litwa' class='flag-img' src='http://podlasiak.com.pl/imgs/lt.png'>
						<span class='flag-name'>Lietuva</span>
					</a>
					<a class='flag flag-uk' href='https://ua.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Ukraina' class='flag-img'
								src='http://podlasiak.com.pl/imgs/uk.png'>
						<span class='flag-name'>Україна</span>
					</a>
					<a class='flag flag-es' href='https://es.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Hiszpania' class='flag-img'
								src='http://podlasiak.com.pl/imgs/es.png'>
						<span class='flag-name'>Español</span>
					</a>
					<a class='flag flag-nl' href='https://nl.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niderlandia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/nl.png'>
						<span class='flag-name'>Nederlands</span>
					</a>
					<a class='flag flag-lv' href='https://lv.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Łotwa' class='flag-img' src='http://podlasiak.com.pl/imgs/lv.png'>
						<span class='flag-name'>Latviski</span>
					</a>
					<a class='flag flag-ee' href='https://ee.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Estonia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/ee.png'>
						<span class='flag-name'>Eesti</span>
					</a>
					<a class='flag flag-hr' href='https://hr.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Chorwacja' class='flag-img'
								src='http://podlasiak.com.pl/imgs/hr.png'>
						<span class='flag-name'>Hrvatski</span>
					</a>
					<a class='flag flag-me' href='https://me.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Czarnogóra' class='flag-img'
								src='http://podlasiak.com.pl/imgs/me.png'>
						<span class='flag-name'>Crne Gore</span>
					</a>
					<a class='flag flag-rs' href='https://rs.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Serbia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/rs.png'>
						<span class='flag-name'>Srpski</span>
					</a>
					<a class='flag flag-at' href='https://at.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Austria' class='flag-img'
								src='http://podlasiak.com.pl/imgs/at.png'>
						<span class='flag-name'>Österreich</span>
					</a>
					<a class='flag flag-be' href='https://be.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Belgia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/be.png'>
						<span class='flag-name'>Belgique</span>
					</a>
					<a class='flag flag-si' href='https://si.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowenia' class='flag-img'
								src='http://podlasiak.com.pl/imgs/si.png'>
						<span class='flag-name'>Slovenija</span>
					</a>
					<a class='flag flag-ch' href='https://ch.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Szwajcaria' class='flag-img'
								src='http://podlasiak.com.pl/imgs/ch.png'>
						<span class='flag-name'>Schweiz</span>
					</a>

				</div>
			</div>
		</div>
	</section>
</main>
