
.about-container {
  display: grid;
  overflow-x: hidden;
  align-content: stretch;
  justify-content: stretch;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  scroll-margin-top: 96px;
}

.text-wrap {
  grid-row: 1/2;
  grid-column: 1/2;
}

.text-cont {
  max-width: 1440px;
  margin: 0 auto;
}

.europa {
  z-index: -1;
  align-self: start;
  height: 1000px;
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: end;
}

.about {
  font-size: 42px;
  padding: 40px 0;
  color: #545454;
}

.content {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  max-width: 800px;
  color: #414141;
  
}

.content--primary {
  //max-width: 800px;
  padding-bottom: 60px;
}

.content--secondary {
  //max-width: 800px;
}

@keyframes glow {
  0% {
    fill: rgb(98, 179, 133);
  }
  50% {
    fill: #039341;
  }
  100% {
    fill: rgb(98, 179, 133);
  }
}

.eu1 {
  fill: #cecece;
}

.eu2 {
  fill: #039341;
}

.eu3 {
  fill: #ffffff;
}

.eu4 {
  animation: glow 4s infinite;
}


@media screen and (max-width: 1500px) {
  .text-cont {
    margin: 0 48px;
  }
  .europa {
    opacity: 0.4;
  }
  
}

@media screen and (max-width: 768px) {
  .text-cont {
    margin: 0 32px;
  }
  .content {
    font-size: 22px;
  }
  
  .europa {
    align-self: center;
    transform: translateX(-140px);
    
    justify-self: center;
  }
}

