
.footer-container {
	position: relative;
	z-index: 1;
	background: url('/images/footer_background.jpg') no-repeat 50% 60%;
	background-size: cover;
	scroll-margin-top: 96px;
}

.footer-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: $secondaryColor;
}

.contact-container {
	position: relative;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	max-width: 1440px;
	margin: 0 auto;
	padding: 96px 0 48px;
	color: $secondaryFontColor;
}

.address, .contact-form {
	width: 50%;
}


.address__header {
	font-size: 1.875rem;
	line-height: 2.25rem;
	padding-bottom: 32px;
	color: $secondaryFontColor;
}

.row__heading {
	display: flex;
	align-items: center;
	padding-bottom: 16px;
}

.row__content {
	margin-left: 2.75rem;
}

.address__row:not(:last-child) {
	margin-bottom: 24px;
}

.address__icon {
	font-size: 2.25rem;
	line-height: 2.5rem;
	padding-right: 8px;
}

.address__subheader {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.address__text {
	padding-bottom: 8px;
}

.address__text a:hover {
	text-decoration: underline;
}

.contact-form {
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column;
	transition: opacity 1s ease;
}

.contact-form--active::after {
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 26px 64px;
	content: attr(data-message);
	transform: translate(-50%, -50%);
	text-align: center;
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	background: $lightOverlayColor;
}

.form__body {
	transition: opacity 1s ease;
}

.form__body--active {
	pointer-events: none;
	opacity: 0.2;
}

.body__input-container {
	position: relative;
	display: flex;
	flex-direction: column;
}

.body__input-container:nth-child(4) {
	margin-bottom: 1rem;
}

.body__input-container--active {
	position: relative;
	transition: all 0.3s ease;
}

.body__input-container--active::before {
	position: absolute;
	right: 16px;
	bottom: 12px;
	width: 24px;
	content: url('/images/warning.svg');
	pointer-events: none;
}

.form-input__label {
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 1.25rem;
	padding: 8px 0;
}

.form-input__field {
	padding: 16px;
	transition: all ease 0.3s;
	color: $secondaryFontColor;
	border: 3px solid rgba(255, 255, 255, 0.0);
	border-radius: 4px;
	outline: none;
	background-color: rgba(255, 255, 255, 0.1);

	&--area {
		resize: none;
	}

	&::placeholder {
		color: #a8a8a8;
	}
}

.form-input__field:hover {
	border: 3px solid rgba(255, 255, 255, 0.0);
	background-color: rgba(255, 255, 255, 0.2);
}

.form-input__field:focus {
	border: 3px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(255, 255, 255, 0.1);
}

.body__input-container--active .form-input__field {
	border: 3px solid #da1e28;
}

.body__input-container--active .form-input__field:hover {
	border: 3px solid #fa4d56;
}

.body__input-container--active .form-input__field:focus {
	border: 3px solid #da1e28;
}


.copyright-container {
	position: relative;
	z-index: 2;
	background-color: $tertiaryColor;
}

.copyright {
	font-size: 0.75rem;
	font-weight: 300;
	line-height: 1rem;
	display: block;
	max-width: 1440px;
	margin: 0 auto;
	padding: 24px 0;
	color: $secondaryFontColor;
}

@media screen and (max-width: 1500px) {
	.contact-container, .copyright {
		margin: 0 48px;
	}
}

@media screen and (max-width: 768px) {
	.contact-container, .copyright {
		max-width: 1440px;
		margin: 0 32px;
	}

	.address, .contact-form {
		width: 100%;
	}

	.address {
		margin-bottom: 32px;
	}
}
