$primaryFontColor: #191919;
$secondaryFontColor: #ffffff;

$primaryColor: #ffffff;
$secondaryColor: #191919;
$tertiaryColor: #343434;
$accentColor: #039341;

$lightOverlayColor: rgba(255, 255, 255, 0.2);
$darkOverlayColor: rgba(0, 0, 0, 0.2);
